.footer-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: var(--light-color);
    gap: 10px;
    padding: 15px;
    
}
.upper-container {
    width: 100%;
    text-align: center;
}
.lower-container {
    width: 100%;
    text-align: center;
}
.gitlab-link{
    display: inline;
    color: var(--light-color);
}
.gitlab-link:hover{
    color: var(--accent-color);
}