@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--secondary-color);
}
::-webkit-scrollbar-thumb{
    background: var(--accent-color);
}
html{
    margin: 0px;
    height: 1fr;
    
}
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 0;
    height: 1fr;
    position: relative;
    min-height : calc(100vh - 190px) ;
    padding-bottom: 110px;
    padding-top: 80px; 

}
p {
    margin: 0;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.445);
    width: 100%;
    word-wrap:break-word;
    width: inherit;
    

}

a{
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
}
.button-link {
    width: auto;
    margin: -4px;
}

textarea {
    font-size: 16px;
    resize: none;
    width: 100%;
}
form {
    width: 100%;
}
pre {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: block;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    
}

.button {
    font-size: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-color: var(--accent-color);
    border-width: 2px;
    border-style: solid;
    background-color: #00000000;
    border-radius: 10px;
    color: var(--accent-color);
    box-shadow: 0px 0px 3px #1f1e1e93;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
    transition: background-color 0.15s, color 0.15s
    , padding 0.15s, margin 0.15s;
    
}
.button:hover {
    background-color: var(--accent-color);
    color: var(--dark-color);
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
}
.greyed {
    color: gray;
    pointer-events: none;
}