.index-info {
    display: flex;
    flex: 12;
    margin: 15px;
    margin-top: 0px;
    margin-right: 2%;
    border-radius: 15px;
    min-width: 200px;
    justify-content: flex-start;
    flex-direction: column;
}
.extended-index{
    display: none;
    margin-top: 50px;
}
@media screen and (max-width:1000px){
    .extended-index{
        display: flex;
        flex-direction: column;
    }
}
.smaller {
    
    border: 2px solid var(--accent-color);
    border-radius: 15px;
}
