.login-wrapper {
    width: 98%;
    margin: 40px auto;
    max-width: 600px;
    background-color: var(--secondary-color);
    
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.not-user {
    color: var(--light-color);
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.error-message {
    background-color: var(--accent-color);
    color: var(--light-color);
    width: 95%;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.login-section-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#togglePassword{
    height: 20px;
    position: absolute;
    right: 25px;
    border-radius: 500px;
    padding: 5px;
    filter: invert(80%);
}
.eye-img{
    background-color: rgb(255, 255, 255) !important;
}