.new-space {
    background-color: var(--accent-color);
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 500px;
    box-sizing: border-box;
    
}
.space-container-add-wrapper {
    display: flex;
    flex-direction: column;
    font-size: normal;
    color: var(--light-color);
    border-color: var(--dark-color);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548); */
    cursor: pointer;
    margin-bottom: 15px;
    background-color: var(--secondary-color);
    transition: background-color 0.15s;
    box-sizing:border-box;
    padding: 15px;
}
.space-container-add-wrapper:hover{
    background-color: #282e38b4;
    border:  -2px solid var(--accent-color);
}
.new-space-button-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;

    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
