.space-container-wrapper {
    display: flex;
    flex-direction: column;
    font-size: normal;
    color: var(--light-color);
    border-color: var(--dark-color);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548); */
    cursor: pointer;
    margin-bottom: 15px;
    background-color: var(--secondary-color);
    transition: background-color 0.15s;
    width: 100%;
    box-sizing:border-box;
    padding: 15px;
    position: relative;
}
.space-container-wrapper:hover {
    background-color: #282e3896;
}
.space-container-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px;
    color: var(--accent-color);
    
}
.space-container-head-info{
    align-self: center;
    display: flex;
    flex-direction: column;
    border-width: 3px;
    align-items: center;
    font-size: 12px;
    color: var(--light-color);

}
.space-container-title {
    font-weight: 700;
    flex: 1;
    margin-right: 30px;
    display: flex;
    align-items: center;

    
}
.space-container-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}
.space-container-head-higher{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    color: var(--light-color);
    align-items: center;
    position:relative;
    pointer-events: none;
}
.space-container-head-info-date{
    font-size: 12px;
    flex: 1;
    text-align: right;
    
}
.space-container-head-info-author{
    font-size: 10px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-color: var(--accent-color);
    border-width: 1px;
    border-style: solid;
    background-color: var(--dark-color);
    border-radius: 5px;
    color: var(--accent-color);
    box-shadow: 0px 0px 4px #00000093;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.15s, color 0.15s
    , padding 0.15s, margin 0.15s;
    width: auto;
    margin-right: 10px;
    margin-left: 0px;
    float: left;
    height: fit-content;
}
.space-container-head-info-author:hover {
    background-color: var(--accent-color);
    color: var(--dark-color);
    padding-right: 12px;
    padding-left: 12px;
    margin-left: -4px;
    margin-right: 6px;
    word-wrap: break-word;
}
.author-link-wrapper {
    position: absolute;
    pointer-events: all;
    width: inherit;
}
.link-wrapper {
    position: absolute;
    top:0; bottom:0;left: 0;
    
}
.filler {
    flex: 1;
}