


.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px;
    margin-top: 30px;
    gap: 15px;
    
}
.main-content {
    flex: 12;
}



.login-wrapper,.main-content,.recent-activity{
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.473); */
    border-style: solid;
    border-radius: 5px;
    border-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    /* background-color: #233142; */
    overflow: hidden;
    border-width: 0px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205); */
    z-index: 2;
    min-width: 200px;
    justify-content: center;
}

.recent-activity {
    flex: 4;
}
@media screen and (max-width:1000px) {
    .recent-activity {
        display: none;
    }

    
}
.section-name {
    color: var(--accent-color);
    font-size: large;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.445);
    /* background-color: #233142; */
    margin: 0px;
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    border-radius: 5px;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 30px;
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.486); */
    
    font-weight: 700;
    z-index: 2;
    background-color: var(--secondary-color);
    margin-bottom: 15px;
    

}
.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width:650px) {
    
    .button {
        height: 40px;
        font-size: 15px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    
}

.input-field{
    flex: 1;
    font-size: 16px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: var(--accent-color);
    border-width: 2px;
    border-style: solid;
    background-color: var(--dark-color);
    border-radius: 30px;
    color: var(--accent-color);
    box-shadow: 0px 0px 4px #00000093;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 15px;
    transition: background-color 0.15s, color 0.15s
    , padding 0.15s, margin 0.15s;
    min-width: none;
}
.input-field:hover{
    background-color: #1d222b63;
    cursor: text;
}
.input-label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
}
.field-name {
    color:var(--light-color);
    font-weight: 20px;
    width: 100px;
    margin-left: 10px;
}
.message-editor-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.message-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.message-status-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.message-status-bar-lower {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.message-content,.message-title-bar {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    
}
.message-right-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.editor-content,.editor-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}
.title-input{
    background-color: var(--secondary-color);
    width: 90%;
    color: var(--light-color);
    border-radius: 15px;
    border-width: 0px;
    padding: 20px;
    flex: 1;
}


.message-editor-label {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    color: var(--accent-color);
}
.public-selector{
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 0px;
    border-radius: 15px;
    padding: 10px;
    
}
.author-link{
    width: auto;
}
.left-detail-div{
    display: flex;
    justify-content: flex-start;
}
.buttons-deletion-wrapper{
    display: flex;
    justify-content: center;
}
.message-deletion-info{
    margin: 20px;
    margin-bottom: 40px;
    color: var(--light-color);
    text-align: center;
}
.page-selector-wrapper,.page-selector-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}