

.navigation-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: auto;
    
    position: fixed;
    z-index: 10;
    top: 0;
}
.upper-nav {
    top: 0px;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--secondary-color);
    align-items: center;
    z-index: 10;
    padding: 10px 0px;
    transition: padding 0.15s;
}
.header-hamburger {
    display: none;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    cursor: pointer;
    
}
.hamburger-contents {
    display: none;
    background-color: var(--secondary-color);
    flex-direction: column;
    width: 100%;
    opacity: 0;
    transition: opacity 0.30s;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    
}

.fill-nav {
    height: 1000px;
    width: 100%;
    display: none;
    z-index: -1;
}
.avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;

}
.avatar-container {
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-shrink: 0;
    margin: 10px;
    margin-right: 20px;
}
.left-header {
    font-size: 25px;
    display: flex;
    align-items: center;

    padding-right: 15px;

}
.center-header {
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center-form {
    width: fit-content;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
    align-items: center;
}
.central-search-bar{
    
    max-width: 400px;
    width: 80%;
    font-size: 16px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: var(--accent-color);
    border-width: 2px;
    border-style: solid;
    background-color: var(--dark-color);
    border-radius: 30px;
    color: var(--accent-color);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.493);
    font-weight: 700;
    cursor: pointer;
}
.central-search-bar:hover{
    background-color: #1d222b63;
    cursor: text;
}
.right-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    flex-shrink: 0;
    gap: 5px;
}
.logo {
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    margin-left: 30px;
}

/* .header-username {
    font-size: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-color: var(--accent-color);
    border-width: 2px;
    border-style: solid;
    background-color: var(--dark-color);
    border-radius: 30px;
    color: var(--accent-color);
    box-shadow: 0px 0px 4px #00000093;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
} */

a.logout{
    width: auto;
}
.hambureger-contents-below-search{
    display: flex;
    justify-content: flex-end;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    box-sizing: border-box;
}
.logout-link {
    flex: 1;
}
.login-link{
    flex: 1;
}
.username-link{
    width: auto;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .2s;
transition: .2s;
}

input:checked + .slider {
background-color: var(--accent-color);
}

input:focus + .slider {
box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
.switch-with-images{
    display: flex;
    flex: 1;
    width: 125px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-width: 125px;
    gap: 5px;
}

.sun, .moon {
    
    width: 50px;
    height: 50px;
    
    position: absolute;
    object-fit: cover;
    
    
}
.sun {
    left: -11px;
    bottom: 0px;

}
.moon {
    left: -11px;
    
    

}
.moon.normal {
    transform: scale(1.2);
    top: 6px;
    left: -12px;
}
.moon.inverted {
    
    top: 8px;
    transform: scale(1.4);
}
.img-container-sun,.img-container-moon{
    width: 28px;
    height: 28px;
    position: relative;
    overflow: hidden;
}
.inverted{
    filter: invert(100%);
}
.search-button {
    color: var(--light-color);
    float: left;
    border-radius: 500px;
    background-color: var(--dark-color);
    border: 2px solid var(--accent-color);
    width: 40px;
    height: 40px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.493);
    
}
.search-img {
    height: 15px;
    width: 15px;
    margin-right: 1px;
    margin-top: 2px;
}
@media screen and (max-width:1000px) {
    .logo {
        height: 40px;
        margin-left: 10px;

    }
    .center-form {
        padding-right: 0;
    }
    .hidable{
        display: none;
    }
}
@media screen and (max-width:1000px) {
    .center-header{
        display: none;
    }
    
    .button {
        height: 40px;
        font-size: 15px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .right-header{
        padding-right: 10px;
    }
    .header-hamburger {
        display: block;
        width: 30px;
        height: 30px;
        padding-top: 3px;
        filter: invert(100%);
    }
    .not-inverted {
        filter: invert(0%);
        
    }
    .logout-bar {
        display: none;
    }

    
    
}
