.welcome-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: 700;
    gap: 20px;
    align-items: center;
    
}

.welcome-message {
    color: var(--accent-color);
    font-size: 20px;
    text-align: center;
}
.intro-pic {
   
    object-fit: cover;
    transition: transform .5s ease;
    width: 100%;
}
.intro-pic:hover {
    transform: scale(1.1);
    object-position: center;
}
.img-wrapper{
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    max-height: 30em;
    
    
}
.a-wrapper {
    height: 100%;
}
.space-container-add-wrapper {
    height: 100%;
}
.space-container-content {
    margin: auto 0px;
}