{% extends 'base/main.html' %}
{% load static %}
{% block content %}
    <div class="message-editor-wrapper">
        <div class="message-editor-label">
            <p>Creating new Space</p>
        </div>
        <form method="post" action="#" class="message-form">
            {% include 'base/editor-container.html' %}
        </form>
        
    </div>
{% endblock %}