{% extends 'base/page-layout-prompt.html' %}
{% load static %}
{% block name %}
    Deletion
{% endblock %}

{% block prompt_contents %}
<form class="login-form" method="post" action="" >
    {% csrf_token %} 
    <p class="message-deletion-info">Do you want to delete the message with title: "{{message.title}}"?</p>
    
    <div class="buttons-deletion-wrapper">
        <input class="button" type="submit" value="No" name="delete">
        <input class="button" type="submit" value="Yes" name="delete">
    </div>
    
</form>
{% endblock %}