{% extends 'base/main.html' %}
{% load static %}
{% block content %}
    <div class="message-editor-wrapper">
        <div class="message-status-bar">
            <a href="{% url 'base:back' %}">
                <button class="button">Back</button>
            </a>
            
            <div class="message-right-header">
                {% if message.owner == request.user %}
                <a href="{% url 'base:edit' message.id %}"><button class="button">Edit</button></a>
                {% endif %}
                <a href="{% url 'base:raw' message.id %}"><button class="button">Raw</button></a>
                <a href="{% url 'base:download' message.id %}"><button class="button">Download</button></a>
            </div>
        </div>
        <div class="message-status-bar-lower">
            <div class="left-detail-div">
                    {% if message.owner %}
                <a class="author-link" href="{% url 'base:profile' message.owner.id %}"><p class="space-container-head-info-author">{{ message.owner.username }}</p></a>
                {% else %}
                <p class="space-container-head-info-author">No author</p>
                {% endif %}
                <p class="space-container-head-info-author">Views: {{message.views}}</p>
                {% if message.owner == request.user %}
                    {% if message.public %}
                        <p class="space-container-head-info-author">Public</p>
                    {% else %}
                        <p class="space-container-head-info-author">Private</p>
                    {% endif %}
                
                
                {% endif %}
            </div>
            <div class="right-detail-div">
                {% if message.owner == request.user %}
                <a href="{% url 'base:delete' message.id %}"><button class="button">Delete</button></a>
                {% endif %}
            </div>
            
         
        </div>
        <div class="message-title-bar">
            {{message.title}}
        </div>
        <div class="message-content">
            <pre>{{message.body}}</pre>
        </div>
    </div>
{% endblock %}