
{% csrf_token %}
<div class="message-status-bar">

    {% if show_back_button %}
    <button class="button" type="button" onclick="javascript:history.go(-1)">Back</button>
    {% else %}
    <button class="button" type="button" onclick="{% url 'base:back' %}" style="visibility: hidden;">Back</button>
    {% endif %}
    
    <div class="editor-status-bar">
        <button class="button" type="submit">Save</button>
    </div>
</div>
<div class="editor-title-bar">
    <textarea name="title" class="title-input" rows="3" placeholder="Title" required="required">{{message.title}}</textarea>
    {% if request.user.is_authenticated %}
        <select name="public" class="public-selector">
            <option value="1" {% if message.public %} selected="selected"{% endif %} >Public</option>
            <option value="0" {% if not message.public %}selected="selected"{% endif %} >Private</option>
        </select>
    {% endif %}
</div>
<div class="editor-content">
    <textarea name="content" required="required" class="title-input" rows="44" placeholder="Content goes here...">{{message.body}}</textarea>
</div>