<div class="footer-wrapper">
    <div class="upper-container">
        <p>Gitlab link: <a class='gitlab-link'href='https://gitlab.com/danielzierl/openpaste'>Here</a></p>
    </div>
    <div class="lower-container">
        <p>Copyright ©Daniel Zierl 2022 All rights reserved</p>
    </div>
    <div>
        {{sha}}
    </div>
   
</div>