{% extends "base/main.html" %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <div class="main-content">
            {% include 'base/welcome-container.html' %}
            <!-- <div class="larger">
                {% include 'base/space-container-add.html' %}
            </div> -->
            <form method="post" action="{% url 'base:create' %}"> 
                <div class="message-editor-wrapper smaller">
                    {% include 'base/editor-container.html' %}
                </div> 
            </form>
                
            
            

            <div class="extended-index">
                <div class="section-name">
                    <p>
                        Recent activity
                    </p>
                </div>
                <div class="section-content">
                    {% for message in recent_messages %}
                        {% include 'base/space-container.html' %}
                    {% endfor %}
                </div>
                
            </div>


        </div>
        <div class="recent-activity">
            <div class="section-name">
                <p>
                    Recent activity
                </p>
            </div>
            <div class="section-content">
                {% for message in recent_messages %}
                    {% include 'base/space-container.html' %}
                {% endfor %}
            </div>
            
        </div>
    </div>
{% endblock %}