{% extends 'base/page-layout-prompt.html' %}
{% load static %}
{% block name %}
    Login
{% endblock %}

{% block prompt_contents %}
    {% if error_msg %}
    <p class="error-message">{{error_msg}}</p>
    {% endif %}
    <form class="login-form" action="{% url 'base:authenticate' %}" method="post">
        {% csrf_token %}
        <div class="input-label">
            <p class="field-name">Username:</p>
            <input type="text" class="input-field" name="username" required='required'>
        </div> 
        <div class="input-label">
            <p class="field-name">Password:</p>
            <input type="password" class="input-field" name="password" required='required' id="id_password">
            <img src="{% static 'base/eye.png' %}" class id="togglePassword">
        </div> 
        
        
        <input class="button" type="submit" value="Login">
    </form>
    <a href="{% url 'base:register' %}"><p class="not-user">No account yet? Register here</p></a>

{% endblock %}