{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8" />
        <meta name = "description" content = "Openpaste is a website, where you can save any text for unlimited amount of time" />
        <meta name = "keywords" content = "Paste, Pastebin, Copy, Text, Snippets, Code, Save, Secure, Config" />
        <meta name = "author" content = "Daniel Zierl" />
        <title>Openpaste - Free and opensource paste storage!</title>
        <link rel="icon" type="image/x-icon" href="{% static 'base/favicon.png' %}">
        {% if mode == 'light' %}
        <link rel="stylesheet" href="{% static 'base/styles/light-mode.css' %}" type="text/css">
        {% else %}
        <link rel="stylesheet" href="{% static 'base/styles/dark-mode.css' %}" type="text/css">
        {% endif %}

        <link rel="stylesheet" href="{% static 'base/styles/styles.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'base/styles/topbar.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'base/styles/footer.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'base/styles/general-styles.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'base/styles/login.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'base/styles/index.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'base/styles/space-container-add.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'base/styles/welcome-container.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'base/styles/space-container.css' %}" type="text/css">
        <script src="{% static 'base/hamburger.js' %}" defer></script>
        <script src="{% static 'base/shrink_nav_bar.js' %}" defer></script>
        <script src="{% static 'base/show-pass.js' %}" defer></script>
    </head>
    <body>
        
            {% include 'base/topbar.html' %}
            {% block content %}
            {% endblock %}
        
        {% include 'base/footer.html' %}
    </body>
</html>