{% load static %}
<div class="img-container-sun">
    {% if mode == 'dark' %}
    <img  class="sun inverted" src="{% static 'base/day-and-night_darker.png' %}">
    {% else %}
    <img  class="sun" src="{% static 'base/day-and-night.png' %}">
    {% endif %}
</div>

<label class="switch">
    
    <input type="checkbox" onclick="location.href={% url 'base:change_mode' %}" {% if mode == 'dark' %} checked="checked" {% endif %}>
    <span class="slider round"></span>
</label>
<div class="img-container-moon">
    {% if mode == 'dark' %}
    <img  class="moon inverted" src="{% static 'base/day-and-night_darker.png' %}">
    {% else %}
    <img  class="moon normal" src="{% static 'base/day-and-night.png' %}">
    {% endif %}
</div>