<div class="page-selector-wrapper">
    {% if show_page_selector %}
    <form method="get" action="" class="page-selector-form">
        {% if page_prev == 0 %}
            <button class="button greyed" type="submit" value="{{page_prev}}" name="page">Previous page</button>
        {% else %}
            <button class="button" type="submit" value="{{page_prev}}" name="page">Previous page</button>
        {% endif %}
        {% if page_max == page %}
        <button class="button greyed" type="submit" value="{{page_next}}" name="page">Next page</button>
        {% else %}
        <button class="button" type="submit" value="{{page_next}}" name="page">Next page</button>
        {% endif %}
        <input type="text" style="display: none;" value="{{q}}" name="q">
    </form>
    {% endif %}
    
</div>