{% extends "base/main.html" %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <div class="main-content">
            <div class="section-name">
                <p >
                    {% block name %}
                    {% endblock %}
                </p>
            </div>
            <div class="section-content">
                {% block section-content %}
                {% endblock %}
            </div>
            
            
        </div>
        <div class="recent-activity">
            <div class="section-name">
                <p>
                    Recent activity
                </p>
            </div>
            <div class="section-content">
                {% for message in recent_messages %}
                    {% include 'base/space-container.html' %}
                {% endfor %}
            </div>
            
        </div>
    </div>
{% endblock %}