{% extends 'base/main.html' %}
{% load static %}

{% block content %}
    <div class="login-wrapper">
        <div class="section-name">
            <p >
                {% block name %}
                {% endblock %}
            </p>
        </div>
        <div class="login-section-content">
            {% block prompt_contents %}
            {% endblock %}
        </div>
    </div>
{% endblock %}