{% load static %}
{% load timesince %}
<div class="space-container-wrapper">
    <a href="{% url 'base:detail'  message.id %}" class="link-wrapper">
    
    <div class="space-container-head">
        <!-- <div class="avatar-container">
            <img src="{% static 'base/avatar.jpg'%}" class="avatar">
        </div> -->
        <div class="space-container-head-higher">
            {% if message.owner %}
                <a href="{% url 'base:profile' message.owner.id %}" class="author-link-wrapper">
                    <p class="space-container-head-info-author">{{ message.owner.username }}</p>
                </a>
            {% else %}
            
            <a href="{% url 'base:index'  %}" class="author-link-wrapper">
                <p class="space-container-head-info-author">No author</p>
            </a>

            {% endif %}
            <div class="filler">
                
            </div>
            <p class="space-container-head-info-date">{{ message.created_at | timesince}} ago</p>
        </div >
            <div class="space-container-head-lower">
                <div class="space-container-title">
                    <p>{{ message.title|slice:":100" }}</p>
                </div>
                
            </div>
            
        </div>
        <div class="space-container-content">
            <p>{{ message.body|slice:":200" }}...
            </p>
        </div>
    
    
    </a>
    </div>