{% load static %}
<a href="{% url 'base:create' %}" class="a-wrapper">
    <div class="space-container-add-wrapper">
    
        
        <div class="space-container-content">
            <div class="new-space-button-wrapper">
                
                <svg class="new-space" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
            </div>
            
        </div>
    
    
    </div>
</a>