{% load static %}

    <nav class="navigation-bar">
        <div class="upper-nav" id="upper-nav">
            <div class="left-header">
                <!-- <a href="{% if request.user.is_authenticated %}{% url 'base:profile' request.user.id %}{% else %}{% url 'base:index' %}{% endif %}"><img class="logo" src="{% static 'base/logo.png' %}"></a> -->
                <a href="{% url 'base:index' %}"><img class="logo" src="{% static 'base/logo.png' %}"></a>

            </div>
            <div class="center-header">
                <!-- <a href="{% url 'base:create' %}"><button class="button">+ New Space</button></a> -->
                <form class="center-form" method="get" action="{% url 'base:search' %}">
                    <input type="search" placeholder="Search..." name="q" class="central-search-bar">
                    <button class="search-button"><img class="search-img {% if mode == 'dark' %}inverted{% endif %}" src="{% static 'base/search.png' %}"></button>
                </form>
            </div>
            <div class="right-header">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'base:profile' request.user.id %}" class="username-link hidable"><button class="button">{{request.user.username}}</button></a> 
                    <a class="logout-bar" href="{% url 'base:logout' %}" class="logout-link"><button class="button">Logout</button></a>  
                {% else %}
                    <a href="{% url 'base:login' %}" class="login-link hidable"><button class="button">Login</button></a>
                {% endif %}
                <div  class="switch-with-images" >
                    {% include 'base/mode-switch-container.html' %}
                    
                </div>
                
                
                <!-- <div class="avatar-container">
                    <img class="avatar" src="{% static 'base/avatar.jpg' %}">
                </div> -->
                <svg class="header-hamburger {% if mode == 'light' %}not-inverted{% endif %}"  viewBox="0 0 100 80" width="40" height="10" onclick="showHamburger()">
                    <rect width="100" height="10"></rect>
                    <rect y="30" width="100" height="10"></rect>
                    <rect y="60" width="100" height="10"></rect>
                  </svg>
            </div>
        </div>
        <div class="hamburger-contents" id="hamburger-contents">
            <form class="center-form" method="get" action="{% url 'base:search' %}">
                <input type="search" placeholder="Search..." name="q" class="central-search-bar">
                <button class="search-button"><img class="search-img {% if mode == 'dark' %}inverted{% endif %}" src="{% static 'base/search.png' %}"></button>
            </form>
            
            <div class="hambureger-contents-below-search">
                
                {% if request.user.is_authenticated %}
                <a href="{% url 'base:profile' request.user.id %}" class="username-link"><button class="button">{{request.user.username}}</button></a> 
                <a class="logout" href="{% url 'base:logout' %}"><button class="button">Logout</button></a>  
                {% else %}
                <a href="{% url 'base:login' %}" class="login-link"><button class="button">Login</button></a>
                {% endif %}
            </div>
        </div>
        <div class="fill-nav" id="fill-nav" onclick="closeHamburger()">
            
        </div>
    </nav>
    
