{% load static %}

<div class="welcome-container-wrapper">
    <p class="welcome-message">
        Welcome to Openpaste! A place to share your snippets of text...
    </p>
    <!-- <div class="img-wrapper">
        <img src="{% static 'base/intro_pic.jpg' %}" class="intro-pic">
    </div> -->
    <p>
        
    </p>
</div>